/* Flex */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.justify-between {
  justify-content: space-between;
}

.flex-60 {
  flex: 60%;
}

.flex-40 {
  flex: 40%;
}

.flex-50 {
  flex: 50%;
}
.flex-10 {
  flex: 10%;
}

.md-flex-col {
  flex-direction: row;
}

@media only screen and (max-width: 1300px) {
  .md-flex-col {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .sm-flex-wrap {
    flex-wrap: wrap;
  }
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-left {
  justify-content: left;
}

.align-start {
  align-items: start;
}
