@import url("./utility/_font.css");
@import url("./utility/_flex.css");
@import url("./utility/_margin.css");
@import url("./utility/_background.css");
@import url("./utility/_height.css");
@import url("./utility/_padding.css");
@import url("./utility/_width.css");
@import url("./utility/_grid.css");
/* Border Radius */
.rounded {
  border-radius: 0.25rem;
}

.rounded-none {
  border-radius: none;
}

.inline-block {
  display: inline-block;
}

.border {
  border: 1.25px solid #666;
}

.border-orange {
  border-color: #faa100;
}

.border-gray {
  border-color: #e1e1e1;
}

.border-medium {
  border: 2px solid;
}
.border-none {
  border: none;
}

.border-right-1 {
  border-right: 1px solid #ddd;
}

@media only screen and (max-width: 1300px) {
  .border-right-none {
    border-right: none;
  }
}

.border-bottom-dotted {
  border-bottom: 1px dotted #e1e1e1;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #e1e1e1;
}

.font-family-monsterrat {
  font-family: "Montserrat", sans-serif;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.gallery_item {
  width: 100px;
}

.gallery_item_active {
  background-color: #efefef;
  border: 1px solid;
  border-color: #faa100;
  transition: all 0.2s;
}

#gallery_preview {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
