/* Background */
.bg-gray {
  background-color: #f3f3f3;
}

.bg-blue {
  background-color: #004990;
}

.bg-orange {
  background-color: #faa100;
  transition: all 0.2s;
}

.hover-bg-gray:hover {
  background-color: #f3f3f3;
}
