.grid {
  display: grid;
}

.gap-1 {
  grid-gap: 1px;
}

.gap-2 {
  grid-gap: 2px;
}

.gap-3 {
  grid-gap: 4px;
}

.gap-4 {
  grid-gap: 5px;
}

.gap-5 {
  grid-gap: 10px;
}

.gap-6 {
  grid-gap: 15px;
}
.grid-template-columns {
  grid-template-columns: repeat(4, 1fr);
}
