/* Height */
.h-1 {
  height: 1px;
}

.h-2 {
  height: 2px;
}

.h-8 {
  height: 16px;
}

.h-lg {
  height: 40px;
}

.h--48 {
  height: 48px;
}

.h-100 {
  height: 100%;
}

/* Margin */
.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 0.8rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 0.8rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.8rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 10rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.mb-7 {
  margin-bottom: 4rem;
}
.m-auto {
  margin: 0 auto;
}

/* Padding */
.p-5 {
  padding: 8px;
}

.p-7 {
  padding: 12px;
}
.p-8 {
  padding: 15px;
}

/* Width */
.w-100 {
  width: 100%;
}

.w-7 {
  width: 1.75rem;
}

.w-20 {
  width: 5rem;
}

.w-popup {
  width: 600px;
}
